<!-- head Includes -->
<%- include('../includes/head') %>

<body class="sidebar-dark">
	<div class="main-wrapper">
		<div class="page-wrapper full-page ">
			<div class="page-content d-flex align-items-center justify-content-center" style="margin-top: 0;">

				<div class="card " style=" width: 90% ">
					
					<div class="card-body card-body-alt px-5" >
						


                        <!-- <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false"> -->
                            
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="auth-form-wrapper px-4 py-5">
                                    <h5 class="text-muted font-weight-normal mb-4">Reset Your Password.</h5>
                                    <form class="forms-sample" action="/auth/password-reset-link" method="post">
                                        <div class="form-group">
                                            <label for="exampleInputUsername1">Username</label>
                                            <input type="text" class="form-control" name="username" id="exampleInputUsername1" placeholder="Enter Username">
                                        </div>
                                        <button type="submit" class="btn btn-success">Reset Password</button>
                                    </form>
                                
                        </div>




                        

					</div>

				</div>
				
				
				

			</div>

		
			
		</div>
		<!-- Nav Includes -->
        <%- include('../includes/nav') %>
	</div>

<!-- End Includes -->
<%- include('../includes/end') %>