<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> <%= pageTitle%></title>
	<!-- core:css -->
	<link rel="stylesheet" href="../../../assets/vendors/core/core.css">
	<!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../../../assets/vendors/dropify/dist/dropify.min.css">
  <link rel="stylesheet" href="../../../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="../../../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="../../../assets/vendors/sweetalert2/sweetalert2.min.css">
	<!-- end plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="../../../assets/fonts/feather-font/css/iconfont.css">
	<!-- endinject -->
  <!-- Layout styles -->  
	<link rel="stylesheet" href="../../../assets/css/demo_2/style.css">
	<link rel="stylesheet" href="../../../assets/css/additional.css">
	<link rel="stylesheet" href="../../../assets/css/demo_2/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="../../../assets/images/mkel-logo.png" />
</head> 
<style>
	
	 .moveModal{
		display: flex;
		justify-content: center;
		align-items: center;
	 } 
	  ul {
		list-style: none;
	  }
	  
	  a {
		color: inherit;
		text-decoration: none;
	  }
	  
	  .menu {
		display: inline-flex;
		padding: 0 20px;
		background: transparent;
		box-shadow: 0 12px 8px rgb(0 0 0 / 8%);
		overflow: hidden;
		width: 100%;
		justify-content:center;
	  }
	  
	  .menu li:not(:last-child) {
		margin-right: 70px;
	  }
	  
	  .menu a {
		position: relative;
		display: grid;
		padding: 40px ;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	  }
	  
	  .menu a > * {
		grid-column: 1;
		grid-row: 1;
		transition: all 0.3s ease-out;
	  }
	  
	  .menu a span {
		justify-content: center;
		align-content: center;
		transform: translateY(-60px);
	  }
	  
	  .menu a i {
		font-size: 5rem;
	  }
	  
	  .menu a:hover span {
		color: #E3ECF3;
		transform: translateY(-20px);
	  }
	  
	  .menu a:hover i {
		color: #E3ECF3;
		transform: translateY(10px);
	  }


	.noBorder{border:none;}
</style>